
body{
	min-height: 50vh;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
} 



form{
    padding-left: 70px;


    
}

input{
    margin-bottom: 10px;
}



button{
    border-radius: 0px;
    margin-left: 70px;
    margin-top: 10px;
    
    
    /* border: 8px;
    margin: 5px; */
}


